<div class="indication-dashboard">
  <h2>Stjórnborð ábendinga</h2>
  <div class="indication-wrapper">
    <div class="full-width">
      <div class="new-indications">
        {{ new_indications }}
      </div>
    </div>
    <div class="side-by-side">
      <div class="indications-in-progress">
        {{ indications_in_progress }}
      </div>
      <div class="over_construction_time">
        {{ over_construction_time }}
      </div>
      <div class="over_allocation_time_departments">
        {{ over_allocation_time_departments }}
      </div>
      <div class="over_allocation_time_service_desk">
        {{ over_allocation_time_service_desk }}
      </div>
    </div>
  </div>
</div>
